body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
.gradient {
    background-image: radial-gradient( #e3f2fd, #64b5f6);
}

/* icon prefix focus color */

.input-field .prefix.active {
    color: #000;
}
