body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.gradient {
  background-image:
    radial-gradient(
      #d7ccc8,
      #a1887f
    );
}
