<div class="row">
    <form name="artistForm" ng-submit="submitArtist(artist)" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="icon_prefix2" class="materialize-textarea" ng-model="artist.name"></textarea>
                <label for="icon_prefix2">Please Enter an Artist's Name.</label>
                <input type="submit">
            </div>
        </div>
    </form>
    <div ng-repeat="track in trackInfo">
        <p>{{trackInfo[$index].track.track_name}}</p>
        <!-- <p>{{trackInfo[$index].track.first_release_date}}</p> -->


    </div>
