
<div class="row">
    <h1>var <a href = "#/search" ng-click="showForm =!showForm">mistofy</a> = (music + history + spotify)</h1>
</div>

<div class="row">
    <div class="input-field col s4 offset-s4">
        <form ng-show="showForm" name="artistForm" ng-submit="submitArtist(artist)" class="col s12" class="center-align">
            <input id="first_name" type="text" class="validate" ng-model="artist.name">
            <label for="first_name">Artist's Name</label>
            <div class="col s4 offset-s4">
                <button class="btn waves-effect waves-light blue" type="submit" ng-click="showForm=false" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </form>
    </div>
    <div class="input-field col s4 offset-s4">
      <div ng-repeat="track in trackInfo">
        <a href="#/song">
          <p ng-click="scraper(track.track.track_share_url); spotify(track.track.track_name)">
            {{trackInfo[$index].track.track_name}} {{trackInfo[$index].track.first_release_date | date : format : 'yyyy'}}
          </p>
          <div ng-if="artist.loading" class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>
    </div>
  </div>
