
    <div class="row">
        <div class="col s4">
            <div class="card-panel white">
                <img ng-src="{{image.img}}">
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel white">
                <p>{{image.lyrics}}</p>
                <iframe src='{{snippet}}' width="300" height="50" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel white">
                anger: {{(emotions.anger | number:2)*100}}% disgust: {{(emotions.disgust | number:2)*100}}% fear: {{(emotions.fear | number:2)*100}}% joy: {{(emotions.joy | number:2)*100}}% sadness: {{(emotions.sadness | number:2)*100}}%
            </div>
        </div>
    </div>
