<div>
<img ng-src="{{image.img}}">

<div class ="row">{{image.lyrics}}
</div>

<!-- {{snippet}} -->

<div class = "row">anger: {{emotions.anger}}
<div class = "row">disgust: {{emotions.disgust}}
<div class = "row">fear: {{emotions.anger}}
<div class = "row">joy: {{emotions.anger}}
<div class = "row">sadness: {{emotions.anger}}
<div class = "row">
<!-- <iframe src='{{snippet}}'></iframe> -->
<!-- <iframe src="{{snippet}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe> -->

<iframe src='https://p.scdn.co/mp3-preview/d3d1524670303430d244a95d1a80ed875b3040c3?cid=null'width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
</div>
</div>
